.cursor-pointer{
   cursor: pointer;
}
.list-image{
   display: flex;
   align-items: center;
   justify-content: space-between;
}
option{
   padding: 3px 5px;
}
.right-flex{
   display: flex;
   justify-content: right;
}